
.corpoLoginPai{
position: fixed;
background: #aec6cf;
width: 100%;
height: 100%;
opacity: 0.5;
margin: -10px; 
}

#corpoLoginFilha{
position: absolute;

}

.fildLogin{
	position: fixed;
	background: #FFFFFF;
	width:20%;
	height:40%;
	margin-top: 13%;
	margin-bottom: 15%;
	margin-left: 38%;
	border-radius: 15px;
	border-color: #FFFFFF;
	border-width: 0.5px;

}

#nameLogin{
	font-size: 1.5EM;
	position: relative;
	color: #000000;

}